.footer_ul {
  list-style-type: none;
  padding: 0px;

  a {
    text-decoration: none;
    color: inherit;
    text-decoration: underline;
  }
}

.footer_copyright_socials {
  display: flex;
  padding: 48px 0px 48px 0px;

  .footer_copyright {
    flex: 1;
    flex-wrap: flex-start;
  }

  .footer_socials {
    flex: 1;
    flex-wrap: flex-end;
  }
  svg {
    margin: 0px 24px 0px 0px;
  }
}

#exampleInputEmail1 {
  padding-left: 20px;
}
