@import "../../app.scss";

.userbtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

.userMenu {
    gap: 5px;
}

.button_LogIn {
    color: white;
    background-color: #248823;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    text-decoration: none;
}