@import "../../app.scss";

.navbar {
    height: 100px;
}

.navbar-brand {
    padding-left: 50px;
}

.nav-item {
    padding: 15px;
}

.nav-link {
    font-weight: 600!important;
    color: #667085!important;
}

.dropdown-menu {
    border-radius: 0px !important;
    top: 82.5px !important;
    border: 1px solid #CDCDCD !important;
}

.dropdown-menu::before {
    border-top: 1px solid #248823!important;
}

.userbtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

.userMenu {
    gap: 5px;
}

.button_LogIn {
    color: white;
    background-color: #248823;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    text-decoration: none;
}