* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  background-color: #1a191d;
  color: white;
  width: 100vw;
}
